.log-con {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  height: 100%;
}

.log-head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 200px;
}
.log-btn {
  width: 100%;
}
@media screen and (max-width: 375px) {
  .log-btn {
    width: 100%;
  }
  /* .log-form {
    width: 100px !important;
  } */
}
